.tabsel {
  --font-family: "monospace";
  font-size: 16px;
  min-width: 400px;
  max-width: 80%;
  min-height: 250px;
  max-height: 70%;
  background: #1e1e2e;
  color: #cdd6f4;
  border-color: #585b70;
  border-width: 2px;
  border-radius: 8%;
  padding: 8px;

  .container {
    background: #181825;
    padding: 4px;
    border-radius: 6%;

    .search {
      background: #313244;
      border-radius: 4%;
      padding: 6px;
      --height: 40px;

      .input {
        background: #45475a;
        color: #cdd6f4;
        --placeholder-color: #6c7086;
        --selection-color: #89b4fa;
        border-radius: 4%;
        padding: 4px;
        font-size: 15px;
      }
    }

    .rows {
      background: #181825;
      padding: 4px;
      --column-spacing: 12px;

      .header {
        background: #313244;
        color: #89b4fa;
        font-size: 15px;
        padding: 6px;
        --separator-color: #585b70;
        --separator-width: 2px;
      }

      .row {
        background: #1e1e2e;
        color: #cdd6f4;
        padding: 4px;

        .title {
          font-size: 14px;
          padding: 2px;
        }
      }

      .row-selected {
        background: #45475a;
        color: #f5e0dc;
        padding: 4px;
        border-color: #89b4fa;
        border-width: 1px;
        border-radius: 2%;

        .title {
          color: #f5e0dc;
          font-size: 14px;
          padding: 2px;
        }
      }
    }

    .scrollable {
      background: #181825;

      .scroller {
        color: #585b70;
        border-radius: 4%;
        width: 6px;
      }
    }
  }
}
